/* reglas
selectores
declaraciones
propiedades
valores */

/* selector de etiqueta header - section - article - nav*/
  /* header {
    background-color:pink;
    color: red
  } */

/* selector descendente */
/* body header div nav ol li a */

/* selector de clase . */
/* .link */

/* selector id */
/* #portafolio */

/* gris oscuro = #1d252c
gris claro = #626262
background gris = #1b2127
celeste = #026fff*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Fjalla One', sans-serif;
  /* peso de fuente: de 100 mas delgado a 900 mas gruesa*/
  font-weight: 400;
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: white;
  margin: 100px 150px 70px 30px;
  /* text-transform: uppercase;
  text-decoration: none; */
}
h1 strong {
  color: #026fff;
}

.portfolio{
  background: #fafafa;
}

.project {
  /* border-top: 10px solid red;
  border-right: 10px solid green;
  border-bottom: 10px solid orange;
  border-left: 10px solid pink; */
  /* border-color: red;
  border-width: 15px;
  border-style: solid; */
  border: 1px solid gray;
  border-radius: 10px;
  /* border-top-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  margin: 10px;
  margin-bottom: 15px;
  /* margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%; */
  padding: 20px;
  background: white;
}
.project-details{
  width: 500px;
}
.project-imageContainer{
  width: 500px;
}
.hero {
  height: 300px;
  background-image: url('../img/hero.jpg');
  background-color: #1b2127;
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
}
.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 90px;
  /* align-items: center; */
  justify-content: space-between;
}
ol, ul {
  margin: 0;
  padding: 0;
  /* no tengan numero la lista */
  list-style: none;
}
figure {
  margin: 0;
}
.header a {
  color: white;
  text-decoration: none;
}
.menu {
  /* esta propiedad hereda el alto del padre */
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}
.flexbox {
  height: 200px;
  border: 1px solid blue;

  display: flex;
  /* por defecto es row, lo indique o no */
  /* flex-direction: row; */
  /* modificar a forma columna */
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* nowrap: elementos que no caigan */
  /* wrap: elementos caen */
  justify-content: space-around;
  /* justify-content: flex-start; a la izquierda */
  /* justify-content: flex-end; hacia la derecha */
  /* justify-content: center; en el centro */
  /* justify-content: space-between; espacio de elementos, no espacio a extremos */
  /* justify-content: space-evenly; mismo espaciado a extremos y entre elementos */
  /* justify-content: space-around; la mitad de espacio en extremos y espacio entre elementos */
  /* propiedad a los elementos (se le indica al padre) */
  align-items: center;
  /* align-items: flex-start; elementos hacia arriba */
  /* align-items: flex-end; elementos hacia abajo */
  /* align-items: center; elementos en el centro */
  align-items: flex-end;
}
.box {
  width: 50px;
  height: 50px;
  /* margin: 5px; */
  border: 1px solid red;
  /* solo para hijos con padres display flex */
  /* para elementos sin modificar el ancho y alto: */
  /* Valores de encogimiento, de 0 a 1 */
  flex-shrink: 0;
}