/* reglas
selectores
declaraciones
propiedades
valores */

/* selector de etiqueta header - section - article - nav*/
  /* header {
    background-color:pink;
    color: red
  } */

/* selector descendente */
/* body header div nav ol li a */

/* selector de clase . */
/* .link */

/* selector id */
/* #portafolio */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Fjalla One', sans-serif;
  /* peso de fuente: de 100 mas delgado a 900 mas gruesa*/
  font-weight: 400;
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  text-transform: uppercase;
  text-decoration: underline;
}

.project-details{
  width: 500px;
}
.project-imageContainer{
  width: 500px;
}
.hero {
  height: 300px;
}